<ion-view view-title="Acerca de">
<ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
</ion-nav-buttons>      
<ion-content class="has-header padding">
    <h3 class="center" style="margin-top: 1em;">Acerca de Farmacias RD App</h3>
    <br>
    <h5 class="center">Farmacias RD v1.0.0</h5>
    <img class="center" src="img/ic_despro-web.png" width="75px"/>
    <h5 class="center"><a onclick="window.open('fb://page/170301232861', '_system', 'location=no'); return false;">DESPRO Solutions S.R.L.</a></h5>
    <br>
    <p class="center"><strong>Desarrollado Por: </strong><br> Joel Tavárez</p>
    <br>
    <a onclick="window.open('mailto:joeltavarezestevez@gmail.com', '_system', 'location=no'); return false;" class="center">joeltavarezestevez@gmail.com</a>
    <br>
    <a onclick="window.open('https://play.google.com/store/apps/details?id=com.desprosolutions.farmaciasrd', '_system', 'location=no'); return false;" class="center"><h3>Valora FarmaciasRD App!</h3></a>
    <br>
    <h4 class="center"><b>Síguenos por</b></h4>
    <br>
    <div class="button-bar">
      <a class="button button-positive" onclick="window.open('fb://page/102672006820712', '_system', 'location=no'); return false;"><i class="icon ion-social-facebook"></i></a>
      <a class="button button-calm" onclick="window.open('twitter://user?screen_name=farmaciasrdapp', '_system', 'location=no'); return false;"><i class="icon ion-social-twitter"></i></a>
      <a class="button button-royal" onclick="window.open('instagram://user?username=farmaciasrdapp', '_system', 'location=no'); return false;"><i class="icon ion-social-instagram"></i></a>
    </div>
    <br>
    <h4 class="center"><b>Hecho en</b></h4>
    <img class="center" src="img/ic_rd-web.png" width="10%">
</ion-content>
</ion-view>